@import 'functions';

// Bootstrap
// Colors
$primary: #72c990;
$secondary: rgba(114, 201, 144, 0.2);
$primary-alt: #2e7a4e;
$yellow: #fbbf53;
$dark: rgba(19, 18, 26, 0.8);
$grey: #757479;
$grey-light: #c6c5ce;
$white: #fff;
$black: #000;

$success: $primary;
$warning: $yellow;
$info: #369cc7;
$danger: #ec3d3d;

// Options
$enable-caret: true;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-transitions: true;
$enable-hover-media-query: false; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes: true;
$enable-print-styles: true;
$enable-validation-icons: true;

// Body
$body-bg: #fdfdfd;
$body-color: $grey;

// Link
$link-color: $primary-alt;

// Components
$border-color: #e3e3e3;
$modal-backdrop-opacity: 0.6;

// Backgrounds
$bg-color-primary: #3b383b;
$bg-color-secondary: #434043;

$border-radius-alt: rem(4.5);
$border-radius-sm: rem(10);
$border-radius: rem(10);
$border-radius-lg: rem(10);

$box-shadow-sm: 0 3px 5px 0 rgba(75, 125, 103, 0.1),
  0 0 2px 0 rgba(89, 148, 122, 0.3);
$box-shadow: $box-shadow-sm;
$box-shadow-lg: $box-shadow-sm;
$box-shadow-hover: 0 10px 15px 1px rgba(89, 148, 122, 0.14),
  0 0 2px 0 rgba(75, 125, 103, 0.3);
$box-shadow-borders: 0 8px 11px 0 rgba(114, 201, 144, 0.49);

$box-shadow-right-side: 3px 3px 5px -3px rgba(75, 125, 103, 0.1),
  2px 0 2px -2px rgba(89, 148, 122, 0.3);

// Typography
$font-size-base: rem(14);
$font-size-lg: rem(16);
$font-size-sm: rem(13);
$lead-font-size: rem(22);

$font-family-sans-serif: Roboto, 'Helvetica Neue', Arial, sans-serif;
$h1-font-size: rem(48);
$h2-font-size: rem(18);
$h3-font-size: rem(16);
$h4-font-size: rem(16);
$h5-font-size: rem(16);
$h6-font-size: rem(14);
$small-font-size: rem(12);
$card-num-font-size: rem(32);
$headings-color: $dark;
$headings-font-weight: bold;

// Buttons + Forms
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$input-btn-padding-y: rem(10);
$input-btn-padding-x: rem(15);

// Buttons
$btn-padding-y: rem(11);
$btn-padding-x: rem(34);
$btn-font-size: rem(15);
$btn-font-size-lg: rem(16);
$btn-font-size-sm: rem(13);
$btn-line-height: rem(20);

$btn-padding-y-sm: rem(2);
$btn-padding-x-sm: rem(15);
$btn-line-height-sm: $btn-line-height;

$btn-padding-y-lg: $btn-padding-y;
$btn-padding-x-lg: $btn-padding-x;
$btn-line-height-lg: $btn-line-height;

$btn-font-weight: 500;
$btn-box-shadow: 0 3px 6px 0 rgba(114, 201, 144, 0.4);
$btn-box-shadow-hover: 0 8px 11px 0 rgba(114, 201, 144, 0.5);
$btn-box-shadow-alt: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
$btn-box-shadow-alt-hover: 0 8px 11px 0 rgba(0, 0, 0, 0.15);

// Forms
$input-color: $dark;
$input-box-shadow: 0 3px 5px 0 rgba(75, 125, 103, 0.1),
  0 0 2px 0 rgba(89, 148, 122, 0.5);
$input-border-color: $border-color;
$input-placeholder-color: rgba(#393f44, 0.3);
$input-border-width: 0rem;
$input-group-addon-bg: white;
$input-group-addon-border-color: $border-color;
$input-group-addon-color: $body-color;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

// App structure
$header-size-sm: rem(65);
$header-size: rem(80);

$out-space: rem(110);
$ui-space: rem(15);
$margin-size: rem(40);

$sort-arrow-up: url('/static/ic_arrow_upward_12px.png');
$sort-arrow-down: url('/static/ic_arrow_downward_12px.png');
$sort-arrow-default: url('/static/ic_arrow_downward_grey_12px.png');
$sort-arrow-left-space: 0.5rem;
$search-input-bottom-border-color: #80868b;
$btn-bg-green: #1e8e3e;
$date-range-border: #1e8e3e;
$date-range-selected-day-bg: #1e8e3e;
$date-range-not-selected-day-bg: #3c4043;
$date-range-bottom-text-color: #219653;
$date-range-label: #5f6368;
$date-range-selected-range: #e6f4ea;
$solitude: #f8f9fa;
$zircon: #dadce0;
$bright-grey: #565759;
$patina: #589778;
$frosted-mint: #ebf6ef;
$pigment-green: #009045;
$grey-chateau: #9aa0a6;
$silver-tree: #5ac287;
$forest-green: #1e8e3e;
$shark: #202124;
$speech-green: #dfe1e5;
$shuttle-grey: #5f6368;
