@import 'css/settings';

.c-summary {
  .map {
    margin-bottom: $grid-gutter-width;

    .card-img-bottom {
      height: rem(340);
    }
  }

  .mb-25 {
    margin-bottom: 25px;
  }

  .selected-text {
    color: darken($primary, 20%);
    font-weight: 700;
  }

  .select {
    position: absolute;
    margin-top: map-get($spacers, 2);
    background-color: $white;
    border-radius: rem(4);
    box-shadow: $box-shadow;
    z-index: 2;
    left: rem(-55);
    cursor: default;

    ul {
      list-style: none;
      text-align: center;
      padding-left: rem(5);
      padding-right: rem(5);
      width: rem(130);
      padding-top: rem(8);
      color: darken($primary, 20%);
      cursor: default;
      li {
        cursor: pointer;
        &:not(:first-child) {
          margin-top: rem(4);
        }
      }
    }

    &::after {
      display: block;
      position: absolute;
      top: 0;
      left: 40%;
      width: rem(12);
      height: rem(12);
      background-color: $white;
      transform: translate(rem(12), rem(-6)) rotate(45deg);
      transform-origin: center center;
      border-top: rem(1) solid rgba(darken($primary, 20%), 0.15);
      border-left: rem(1) solid rgba(darken($primary, 20%), 0.15);
      content: '';
    }

    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      cursor: default;
    }
  }

  .projects-list {
    margin-top: $grid-gutter-width;
  }
}
