@import 'css/settings';

.c-sign-in-modal {
  width: rem(348) !important;
  height: rem(341) !important;
  margin-top: 5% !important;
  .signin-head {
    font-size: rem(16);
    color: $black;
    font-weight: 600;
  }
  .pointer {
    background: none;
    border: 0;
    padding: 0;
  }
  small {
    display: none;
  }
  .content-panel {
    padding: rem(22) rem(20) rem(16);
    background: $body-bg;
    border-radius: $border-radius;
    box-shadow: 0 rem(8) rem(11) 0 rgba(0, 0, 0, 0.15);
    .signin-form {
      margin-top: rem(20);
    }
  }

  .actions-panel {
    display: flex;
    justify-content: space-between;
    padding-top: $margin-size;
  }
}
