@import 'css/settings';

.c-analytics {
  .number {
    font-size: $card-num-font-size;
    font-weight: $font-weight-normal;
    color: $dark;
  }

  .title {
    font-size: $h5-font-size;
    font-weight: $font-weight-normal;
    color: $dark;
  }

  .card-body {
    &.h-adjustment {
      min-height: rem(136);
      .text-center {
        line-height: rem(88);
      }
    }
  }
}
