@import "css/settings";

.c-project-form {
  .input-container {
    flex-grow: 1;
    z-index: 1;
    input {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .input-group-append {
    flex-direction: column;
  }
}
