.card {
  border: 0;
  box-shadow: $box-shadow;

  .card-header {
    background: none;
    border-bottom: 0;
    padding: 1.25rem 1.25rem 0 1.25rem;

    h2 {
      line-height: 1.6;
      margin-bottom: 0;
    }
  }

  h2 {
    font-size: rem(22);
    font-weight: 300;
  }
}
