@import "css/settings";

.step-container {
  .stepper-horizontal {
    display: flex;
    justify-content: space-around;
    list-style: none;

    .circle {
      display: inline-block;
      width: 1.75rem;
      height: 1.75rem;
      margin-right: 0.5rem;
      line-height: 1.7rem;
      color: #fff;
      text-align: center;
      background: rgba(0, 0, 0, 0.38);
      border-radius: 50%;
    }

    .active {
      background-color: #72c990;
    }

    .activeLabel {
      color: #363232;
      font-weight: 600;
    }

    .checked-step {
      background-color: #72c990 !important;
      color: white;
    }
  }

  .stepper {
    margin-left: -62px;
    width: 77%;
  }

  .stepper-horizontal li:not(:last-child):after {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    content: "";
    height: 1px;
    margin: 0.5rem 0 0 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    transform: translate(0.4rem, -0.2rem);
    width: 4rem;
  }
}
