@import 'css/settings';

.c-update-datetime-modal {
  max-width: rem(525);
  h2 {
    color: $primary-alt;
  }
  small {
    display: none;
  }
  .invalidDateTime {
    color: red;
  }
  .content-panel {
    padding: rem(22) rem(45);
    background: $body-bg;
    border-radius: $border-radius;
    box-shadow: 0 rem(8) rem(11) 0 rgba(0, 0, 0, 0.15);
  }

  .actions-panel {
    display: flex;
    justify-content: space-between;
    padding-top: $margin-size;
  }

  .form-panel {
    padding: rem(40) 0;
  }

  label {
    margin-bottom: 0;
    font-size: rem(13);
  }

  input {
    box-shadow: none;
    border-bottom: solid rem(1) $grey;
    border-radius: 0;
    padding-bottom: 0;
    width: rem(45);
    padding-left: 0;
    padding-right: 0;
    height: auto;
    &:focus {
      box-shadow: none;
      border-bottom: solid rem(1) $grey;
      border-radius: 0;
    }
  }
  .invalidDateTime:focus {
    color: red;
  }
  .time-separator {
    position: relative;
    top: rem(15);
    margin-right: rem(7);
  }
  input.time {
    width: rem(25);
  }

  input.second {
    margin-left: rem(5);
  }

  input.hourformat {
    width: rem(25);
    margin-left: rem(5);
  }
}
