@import 'css/settings';

.c-project-embargo-modal {
  max-width: rem(675);

  .content-panel {
    max-height: calc(
      100vh - #{rem(200)}
    ); // Leave enough space for the actions panel
    overflow-y: auto;
    padding: rem(22) rem(45);
    background: $body-bg;
    border-radius: $border-radius;
    box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.15);
  }

  .actions-panel {
    display: flex;
    justify-content: space-between;
    padding-top: $margin-size;
  }
}
