@import 'css/settings';

.c-deployment-modal {
  max-width: rem(675);

  .content-panel {
    padding: rem(22) rem(45);
    background: $body-bg;
    border-radius: $border-radius;
    box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.15);
  }

  .actions-panel {
    display: flex;
    justify-content: space-between;
    padding-top: $margin-size;
  }

  .form-group {
    width: 100%;
  }

  .upload-inline-action-button {
    padding-left: $ui-space;
    padding-right: $ui-space;
    width: 100%;
  }
}
